@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left bottom, #b5b5b5, #b9b3c3, #c3b0ce, #d2abd5, #e4a4d8, #eaaade, #f1b0e4, #f7b6ea, #f3caf6, #f2ddfd, #f6efff, #ffffff);
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    width: 100vw;
    height: 5vw;
    padding: 1vw;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: rgba(150, 150, 150, 0.596)
}
img{
    height: 100%;
}
#routes{
    width: 80%;
    border-radius: 2vw;
    overflow: hidden;
    height: calc( 90% - 5vw );
    background-color: rgba(150, 150, 150, 0.596)
}
.container{
    width: 100%;
    height: calc( 100% - 5vw );
    display: grid;
    place-items: center;
}